* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  user-select: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #041C32;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  gap: 4rem;
  box-shadow: 0 0 10px black;
}

.site-title {
  cursor: pointer;
  font-size: 2.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
}

.nav li {
  cursor: pointer;
  border-radius: 60px;
  padding: 0.5rem 1rem;
  font-weight: bolder;
  transition: background-color 80ms ease-in-out;
}

.nav li:hover {
  color: red;
}

.crypto-table {
  margin: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
}

thead {
  background-color: #01396a;
  color: whitesmoke;
  font-weight: bold;
  box-shadow: 0 0 3px black;
}

th, td {
  padding: 0.7rem 0.5rem;
}

tbody tr {
  border-bottom: 1px solid #DDDDDD;
  font-weight: 500;
}

.table tbody tr:nth-child(even) {
  background-color: #EEEEEE;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #041C32;
}

.crypto-icon {
  width: 2rem;
  height: 2rem;
  display: inline;
  align-self: flex-start;
  border-radius: 50%;
  border: 2px solid #041C32;
}

.flex-parent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name {
  width: max-content;
}

.green {
  color: green;
  
}

.red {
  color: red;
}
