* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  user-select: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #041C32;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  gap: 4rem;
  box-shadow: 0 0 10px black;
}

.site-title {
  cursor: pointer;
  font-size: 2.5rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
}

.nav li {
  cursor: pointer;
  border-radius: 60px;
  padding: 0.5rem 1rem;
  transition: background-color 80ms ease-in-out;
}

.nav li:hover {
  background-color: #0a2b57;
}

.crypto-table {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}


